<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    {% block head %} {% endblock %}
</head>
<body>
    <div>
        <h1 style="display: inline;">SLATE</h1>
        <a href="{% url 'home' %}">HOME</a>  |
        <a href="">PROFILE</a> |
        <a href="{% url 'learn' %}">LEARN</a> |
        <a href="">GAMES</a> |
        <a href="">PRACTICE</a> |
        <hr>
    </div>
    <br>
    {% block content %}
    {% endblock %}
</body>
</html>