.imageInput {
  position: relative;
  float: left;
  width: 48%;
  margin: 2% 1%;
  cursor: pointer;
}

.imageInput p {
  position: absolute;
  padding: 5px;
  background-color: #007f8b;
  color: #fff;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
  margin: 0;
}

.canvas {
  z-index: 1;
  position: absolute;
  pointer-events: none;
}

.imageInput {
  z-index: 0;
}

.imageInput img {
  width: 100%;
}
